[Unit]
Description={{ service_name }} service
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm --name {{ service_name }} -p 8080:8080 {{ docker_image_name }}:{{ docker_image_version }}
ExecStop=/usr/bin/docker stop {{ service_name }}

[Install]
WantedBy=multi-user.target